
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Encabezado */
.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-title {
    font-size: 24px;
    margin: 0;
    color: #333;
}

/* Sección de contenido */
.section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    max-width: 800px; /* Ancho máximo del contenido */
    text-align: justify; /* Alineación justificada del texto */
}

.section-title {
    font-size: 20px;
    margin: 0 0 20px;
    text-align: center; /* Alineación centrada del título */
}

.content-subtitle {
    font-size: 18px;
    margin: 0;
}

.content-text {
    font-size: 16px;
    line-height: 1.6;
}

.content-bold {
    font-weight: bold;
    color: rgb(37, 62, 0);
}

.content-list {
    list-style-type: disc;
    margin-left: 20px;
}

.content-toggle {
    margin-top: 20px;
    text-align: center; /* Alineación centrada del botón */
}

.read-more-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.hidden-content {
    display: none;
}

/* Estilos para las diferencias entre compiladores e intérpretes */
.content-differences {
    display: flex;
    justify-content: space-between;
}

.content-difference {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 10px;
}


/* Estilos para la cabecera */
/* Estilos para la cabecera principal */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    color: #fff;
}

.main-header a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para la sección del título */
.header {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.logo-epn img {
    height: 45px;
    width: auto;
    margin-left: 10px;
}

.right {
    flex-grow: 1;
    text-align: right;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
}

/* Estilos para las imágenes */
.content-image {
    text-align: center;
}

.content-image figure {
    margin: 20px auto;
}

.content-image img {
    max-width: 50%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subsection {
    background-color: #cbcbcb; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    margin: 20px 0; /* Margen externo superior e inferior */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    color: #333; /* Color del texto */
    max-width: 800px; /* Ancho máximo del contenido */
    text-align: justify; /* Alineación justificada del texto */
}

/* Estilos para el footer */
.pie-pagina {
    background-color: #333; /* Cambia el color de fondo a tu preferencia */
    color: #fff; /* Cambia el color del texto a tu preferencia */
    padding: 20px;
    text-align: center;
}

/* Estilos para el grupo de elementos */
.grupo-1,
.grupo2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para las cajas dentro del grupo */
.caja {
    flex: 1;
    padding: 10px;
}

/* Estilos para las imágenes en las cajas */
.caja img {
    max-width: 100%;
    height: auto;
}

/* Estilos para los títulos "CONTACTOS" y "SIGUENOS" */
.caja h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Estilos para los contactos */
.caja p {
    font-size: 14px;
    margin: 5px 0;
}

/* Estilos para las redes sociales */
.red-social {
    font-size: 24px;
    margin-top: 10px;
}

/* Estilos para los íconos de redes sociales */
.red-social a {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
}

/* Estilos para el texto de derechos de autor */
.grupo2 small {
    font-size: 12px;
}

/* Estilo para la sección sobre nosotros */
.about-us {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  /* Estilo para el título de la sección */
  .section-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilo para el título principal */
  .title {
    font-size: 24px;
    color: #333;
  }
  
  /* Estilo para el contenedor de las cajas */
  .box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Estilo para cada caja de perfil */
  .box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center;
  }
  
  /* Estilo para el título de cada perfil */
  .title h3 {
    font-size: 20px;
    color: #333;
  }
  
  /* Estilo para la imagen de perfil */
  .profile-image {
    margin: 0 auto;
  }
  
  /* Estilo para el texto de perfil */
  .text p {
    font-size: 14px;
    color: #666;
  }
  
  /* Estilo para la imagen de perfil */
  .profile-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  